.header-main {
  background-color: #ffffff24;
  display: flex;
  color: #bfc5cc;
}

.header-icons {
  
}

.header-title {
  color: #bfc5cc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
}

.songs-list-main{
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 93vw;
}