.stepper-frame {
  width: 75vw;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  padding: 2vh;
  border-radius: 13vh;
}

@media (max-width: 500px) {
  .stepper-label {
    font-size: 1.5vh !important;
  }
  .stepper-label-up{
    display:none;
  }
  .stepper-frame{
    width:95vw;
  }
}
