.main{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cake-chart-area{
    margin-top:5vh;
}

.analyze-button{
    margin-top:5vh;
}